
.orders-container {
    width: 50vw;
    margin: auto;
    margin-top: 15vh;
    text-align: center;
}

.orders-container h1 {
    margin-bottom: 5vh;
}

.orders-table{
    margin: auto;
    border-collapse: collapse;
}

.orders-table th, .orders-table td {
    border: 1px solid black;
}